.map {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.relative-container {
  border-radius: 10px;
  max-height: 400px !important;
  max-width: 400px !important;
}
.relative {
  border-radius: 10px;
  height: 400px !important;
  width: 400px !important;
  position: relative !important;
}

/*
.mapboxgl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
} */

/* .map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */